<h1>Home</h1>
<hr>
<main class="tweets">
  <% @tweets.each do |tweet| %>
    <div class="tweet">
      <div class="avatar-container">
        <% if tweet.user.avatar.attached? %>
          <div class="avatar">
            <%= image_tag tweet.user.avatar, class: "profile" %>
          </div>
        <% else %>
          <div class="placeholder"></div>
        <% end %>
      </div>
      <div class="tweet-body">
        <p class="tweet-metadata">
          <%= tweet.user.name %> <span class="handle">@<%= tweet.user.handle + " " %></span><span class="date"><%= tweet.created_at.strftime("%Y/%m/%d") %></span>
        </p>
        <p class="tweet-content">
          <%= tweet.body %>
        </p>
        <% if tweet.image.attached? %>
          <div class="image-container">
            <%= image_tag tweet.image, class: "image" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</main>