<h1>New Tweet</h1>


<% if @tweet.errors.full_messages.any? %>
  <p>
    <%= "#{pluralize(@tweet.errors.count, "error")} prohibited this tweet from being saved:" %>
  </p>
  <ul>
    <% @tweet.errors.full_messages.each do |message| %>
      <li style="color: red">
        <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @tweet, local: true do |f| %>
  <div>  
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>  
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <%= f.submit %>
<% end %>
